.drum-pad {
  text-align: center;
}

button {
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #d32f2f;
  background-color: transparent;
  color: #d32f2f;
  border-radius: 15px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  background-color: transparent;
}

.active {
  transform: scale(1.1);
}

span {
  display: block;
  color: #d32f2f;
  margin-top: 0.8rem;
}