.board {
  margin-top: 2rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-around;
}

.display {
  padding: 0.75em;
  width: 40%;
  font-size: 1.2rem;
  color: var(--main-color);
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.brand {
  align-self: center;
  margin-top: 0;
  margin-bottom: 2.5rem;
  color: var(--main-color);
}

.keypads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1em;
}