.board {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.display {
  align-self: center;
  padding: 0.75em;
  width: 70%;
  font-size: 1.2rem;
  color: red;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
  margin-bottom: 2.5rem;
}

.keypads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-gap: 1em;
}